body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #fff;
}

.forgot-password {
  margin-bottom: 5rem;
  text-align: center;

  .logo-container {
    img {
      margin: 0 auto 1rem;
      display: block;
    }

    h1 {
      margin: 2rem 0;
      font-size: 2rem;
      font-weight: bold;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    }
  }

  .form-container {
    border-radius: 30px;
    background: #eceaff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #f3e8ff;
    padding: 2rem;
    max-width: 580px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 10px 0;
    }

    p {
      margin-bottom: 1.5rem;
      text-align: center;
    }

    input {
      height: 63px;
      width: 325px; /* Full width within the parent */
      padding: 0.75rem 2rem;
      margin-bottom: 1rem; /* Remove right margin to avoid misalignment */
      border: 1px solid #d1b3ff;
      border-radius: 9999px;
      outline: none;
      transition: all 0.3s;
      box-sizing: border-box;

      &:focus {
        border-color: #7e3ff2;
        box-shadow: 0 0 0 2px #c4b5fd;
      }

      &::placeholder {
        color: #a3a3a3;
      }
    }

    .forgot-password-box--img {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 50%;
      padding: 10px;
      width: 120px;
      height: 120px;
      margin: 0 auto;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .forgot-password-box--desc {
      margin-bottom: 0;
      padding-top: 7px;
      color: #000;
      text-align: center;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    button {
      width: 325px;
      height: 63px;
      padding: 0.75rem;
      background-color: #7e3ff2;
      color: #fff;
      border: none;
      border-radius: 9999px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #6b21a8;
      }
    }

    .back-links {
      height: 30px;
      font-weight: 550;
      margin-top: 20px;
      .navigate-container {
        font-size: 15px;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color: #000;

        a {
          color: #8470ff;
          text-decoration: none;
          font-weight: 700;
        }
      }
    }
  }
}
